body {
    width: 100%;
    height: 100%;
    background-image: url(../IMG/banner.png);
}

.direitos {
    background-color: transparent;
    border: 5px solid white;
    width: 90%;
    margin-left: 50px;
    margin-top: 50px;
    height: 1150px;
    border-radius: 1%;
}

.direitos h1 {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: cursive;
    text-transform: uppercase;
}

.direitos p {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.direitos a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-top: -3px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: cursive;
}

.direitos a:hover {
    color: goldenrod;
    cursor: pointer;
}